.content {
    overflow: hidden;
    width: 1240px;
    margin: 0 auto;
    height: calc(100vh - 88px);
    display: flex;
    flex-direction: row;
}

.menu {
    margin-top:180px;
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
}
 
.link_active {
    text-decoration: none;
    color: #fff;
}

.helper {
    opacity: 0.4;
    width: 320px;
    text-decoration: none;
}

.rightContent {
    margin-top:180px;
    width: 100%;
}

