.wrapper {
  overflow: hidden;
  width: 1240px;
  margin: 0 auto;
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
}
.pageTitle {
  height: 100px;
  width: 100%;
}

.content {
  overflow: hidden;
  width: 1240px;
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.halfPage {
  overflow: hidden;
  width: 590px;
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: row;
}

