.modal {
    width: 720px;
    min-height: 350px;
    background-color: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
}

.button {
    position: absolute;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

